 /* Estilo Geral */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: #f3f3f3;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
}


.header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #333;
    position: relative;
}
.header img {
    width: 150px;
}
.header .date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #333;
}
.header .version {
    font-size: 12px;
    color: #333;
}
.button-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
}
.button-group button {
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    min-width: 150px;
}
.section {
    margin-top: 20px;
}
.section-title {
    background-color: #333;
    color: #ffffff;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}
.form-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}
.form-group label {
    font-weight: bold;
    margin-top: 10px
}

.label-espaco-esquerda {
    margin-left: 20px; /* Ajuste o valor conforme o espaçamento desejado */
}  
 

.form-group input {
    padding: 8px;
    border: 1px solid #242323;
    border-radius: 3px;
    width: 120%;
    margin-left: -60px;
}

#tipo_pedido {
    padding: 8px;
    border: 1px solid #242323;
    border-radius: 3px;
    width: 128%;
    margin-left: -60px;
}
.table-container {
     overflow-x: auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    min-width: 800px;
}
.table, .table th, .table td {
    border: 1px solid #ddd;
}


.table th, .table td {
    padding: 10px;
    text-align: center;
}
.table th {
    background-color: #333;
    color: #ffffff;
}

/* Seção Condição de Pagamento e Observações */
.payment-conditions {
    margin-top: 20px;
    border: 1px solid #1b1a1a;
    padding: 15px;
    padding-left: 35px;
    align-items: center;
   
}

.payment-conditions label {
    width: 100%;
    background-color: #333;
    color: #ffffff;
    padding: 5px;
}

.payment-conditions .spaceInputCod{
  width: 30% ;

}

.observations{
    margin-top: 20px;
}
.observations .obs-title {
    background-color: #333;
    color: #ffffff;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}
.observations textarea {
    width: 98%;
    height: 100px;
    margin-top: 10px;
    resize: vertical;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3d3c3c;
}

 
/* classe criada para ocultar botoes na hora da impressão */
    .no-print {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        padding: 10px 0;
    }




/* Media Queries para responsividade */

/* Estilo Geral Responsivo */
@media (max-width: 1024px) {
    /* Ajuste geral para tablets */
    .container {
        padding: 10px;
    }
    .button-group button {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 1020px) {

    .payment-conditions {

    }
    
    .payment-conditions input {
        width: 17%;
        padding: 5px;
    }
    

}

@media (max-width: 975px) {

    .payment-conditions {

    }
    
    .payment-conditions input {
        width: 15%;
        padding: 5px;
    }
    

}

@media (max-width: 875px) {

    .payment-conditions {

    }
    
    .payment-conditions input {
        width: 13%;
        padding: 5px;
    }
    

}

@media (max-width: 794px) {

    .payment-conditions {
   
    }
    
    .payment-conditions input {
        width: 11%;
        padding: 5px;
    }
    

}


@media (max-width: 768px) {
    /* Ajustes para dispositivos móveis (tela menor) */
    .header img {
        width: 80px;
    }

    .button-group {
        flex-direction: column;
        gap: 5px;
    }
    .form-group {
        grid-template-columns: 1fr;
    }
    .form-group label,
    .form-group input {
        width: 100%;
        margin: 0;
    }
    .table-container {
        overflow-x: scroll;
    }


}

@media (max-width: 480px) {
    /* Ajustes para telas menores como celulares */
    .header .date {
        font-size: 10px;
    }
    .button-group button {
        width: 100%;
        font-size: 12px;
    }
    .table {
        font-size: 12px;
    }
    .observations textarea {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 896px) {

    .form-group {
        grid-template-columns: 1fr; /* Alterne para uma coluna em telas menores */
    }

    .form-group input {
        width:80%;
        margin:auto
     
    }
}



@media (max-width: 896px) {

    #tipo_pedido {
        padding: 8px;
        border-radius: 3px;
        width: 82%;
        margin:auto
    }
}
